


.body__main {
  display: flex;
  margin-top: 35px;
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}

 .sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar__top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.sidebar__topAvatar {
  font-size: 40px;
}

.sidebar__stats {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar__stat {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sidebar__stat > p {
  color: gray;
  font-size: 13px;
  font-weight: 600;
}

.sidebar__statNumber {
  font-weight: bold;
  color: #0a66c2 !important;
}

.sidebar__top > h4 {
  color: gray;
  font-size: 12px;
  margin-top: 5px;
}

.sidebar__top > h2 {
  font-size: 18px;
}

.sidebar__bottom {
  text-align: left;
  padding: 10px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

.sidebar__recentItem {
  display: flex;
  font-size: 13px;
  color: gray;
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 5px;
}

.sidebar__recentItem:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.sidebar__hash {
  margin-right: 10px;
  margin-left: 10px;
}

.sidebar__bottom > p {
  font-size: 14px;
  padding-bottom: 10px;
} 

 
.feed {
  flex: 0.6;
  margin: 0 20px;
}

.feed__inputContainer {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}





.feed__input > form > input {
  border: none;
  flex: 0;
  margin-left: 0px;
  outline-width: 0;
  font-weight: 0;
} 

.feed__input > form > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
}



.inputOption {
  display: flex;
  align-items: center;
  margin-top: 15px;
  color: gray;
  padding: 10px;

}



.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}





.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 10px;
}

.post__info > p {
  font-size: 12px;
  color: gray;
}

.post__info > h2 {
  font-size: 15px;
}

/* widgets */
.widgets {
  position: sticky;
  top: 80px;
  flex: 0.2;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 10px;
}

.widgets__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.widgets__header > h2 {
  font-size: 16px;
  font-weight: 400;
}

.widgets__article {
  display: flex;
  padding: 10px;
  cursor: pointer;
}

.widgets__article:hover {
  background-color: whitesmoke;
}

.widgets__articleLeft {
  color: #0177b7;
  margin-right: 5px;
}

.widgets__articleLeft .material-icons {
  font-size: 15px;
}

.widgets__articleRight {
  flex: 1;
}

.widgets__articleRight > h4 {
  font-size: 14px;
}

.widgets__articleRight > p {
  font-size: 12px;
  color: gray;
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
}

body {
    background: #36393f;
  }


nav {
  position: sticky;
  top: 0;
  background: #202225;
  float: left;
  height: 100%;
  width: 72px;
}

nav a {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%; 
  background: #36393f;
}
  

nav {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 15px; 
  padding-top: 12px;
}


nav hr {
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 196px;
  border: none; 
  background: #36393f;
}



nav a:hover,
nav a.active {
  border-radius: 25%;
  background: #3ba55d;
}

nav a {
  transition: border-radius 250ms, background 250ms;
}

nav a::after { 
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 200px;
  background: white;
}

nav a::after {
  position: absolute;
  right: 57px; 
  top: 50%;
  transform: translateY(-50%);
}

nav a {
  position: relative;
}


nav a:hover::after {
  height: 18px;
}

nav a.active::after {
  height: 32px;
}


nav a::after {
  transition: height 250ms;
}



nav a .tooltip {
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 14px;

  padding: 10px 12px;
  margin-left: 10px;
  border-radius: 8px;
  
  display: none;
  width: max-content; 
  
  background: #000000;
}


nav a .tooltip {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
}


nav a .tooltip::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

nav a .tooltip::after {
  border-top:   5px solid transparent;
  border-bottom:5px solid transparent; 
  border-right: 5px solid #000000;
}


nav a .tooltip::after {
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}


nav a .tooltip {
  display: none;
}


nav a:hover .tooltip {
  display: block;
}
